
 <div class="row">
  <div class="col-xs-12">
    <form>
      <div id ="schoolName"> 
          <div class="form-group">
            <h3>School details</h3>
                <label for="schoolName" >School Name  </label>
                <label for="schoolName" ></label>
              <input type="text" 
              id= "schoolName"
              class="form-control"
              schoolName="schoolName"
              ngModule required>
          </div><br>
          <div class="form-group">
                  <label for="fromYear">From Year </label>
                  <input type="number"
                  id="fromYear"
                  class="form-control" 
                  fromYear="fromYear"
                  ngModule required>
                  <label for ="toYear"> To Year </label>
                  <input type="number" 
                  id = "toYear"
                  class="form-control"
                  toYear="toYear"ngModule required>
            </div><br>    
           <div class="form-group">
                <label for="percentage">Percentage  </label>
                <input type="number" 
                id="percentage"
                class="form-control"
                percentage="percentage"
                ngModule required>
          </div><br>
          <button class="btn btn-primary" type="submit">Save</button>
          <button class ="btn btn-primary" type="reset">reset</button>
      </div>
     </form>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <form>
        <div id ="colName"> 
            <div class="form-group">
              <h3>PUC/ +2 details details</h3>
                <label for="colName" >Institution Name  </label>
                <input type="text" 
                id= "schoolName"
                class="form-control"
                schoolName="schoolName">
            </div><br>
             <div class="form-group">
                    <label for="fromYear">From Year </label>
                    <input type="number"
                    id="fromYear"
                    class="form-control" 
                    fromYear="fromYear">
                    <label for ="toYear"> To Year </label>
                    <input type="number" 
                    id = "toYear"
                    class="form-control"
                    toYear="toYear">
            </div><br>
              <div class="form-group">
                  <label for="percentage">Percentage  </label>
                  <input type="number" 
                  id="percentage"
                  class="form-control"
                  percentage="percentage">
            </div><br>
            <button class="btn btn-primary" type="submit">Save</button>
            <button class ="btn btn-primary" type="reset">reset</button>
        </div>
       </form>
    </div>
  </div>
  
   