<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand">Resume Builder</a>
            </div>
    
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active"><a routerLink="/personal">Personal Details</a></li>
                    <li routerLinkActive="active"><a routerLink="/education">Education</a></li>
                    <li routerLinkActive="active"><a routerLink="/experience">Experience</a></li>
                    <li routerLinkActive="active"><a routerLink="/skills">skills</a></li>    
                </ul>
            </div>
        </div>
    </nav>
    
