<app-header></app-header>
<hr>
<div class="row">
    <div class="col-xs-9">
        <form >
         <div class="row">
            <div class="col-sm-3 form-group">
                 <label for="compName">Company Name</label>
                <input type="text" id="compName" class="form-control">
            </div>
            <div class="col-sm-3 form-group">
                <label for="position">Workplace Position</label>
               <input type="text" id="position" class="form-control">
           </div>
           <div class="col-md-2">
                <label for="start">Start Year </label>
                <input type="date"
                id="start"
                class="form-control" 
                start="start"
                ngModule required>
            </div>
            <div class="col-sm-2 form-group">
                <label for ="end"> End Year </label>
                <input type="date" 
                id = "end"
                class="form-control"
                end="end"ngModule required>
            </div>
           <div class="col-sm-2 form-group">
                <label for="task">Achivement</label>
                <input type="text" id="task" class="form-control">
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
            <button class ="btn btn-primary" type="reset">reset</button>
        
        </div>   
        </form>
    </div>
</div>
<div class="container">
        <div class="row">
            <div class="text-left">
                <button class="btn btn-success" (click)="onPrev()">Back</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="text-right">
                <button class="btn btn-success" (click)="onNext()">Next</button>
            </div>
        </div>
    </div>