<div class="image">
<app-header></app-header>
<h1>Experience</h1>
<hr>
<app-experience-field></app-experience-field>
<div class="container">
    <!-- <footer> -->
        <div class="bottom">
            <div class="row">
                <div class="col-xs-12">
                    <div id="hash">
                    <button class="btn btn-success" (click)="onPrev()">Back</button>
                    <button   class="btn btn-success" (click)="onNext()">Next</button>
                </div>
                </div>
            </div>
        </div>
    <!-- </footer> -->
    </div>
<!-- </div> -->
</div>