<div class="row">
    <div class="col-xs-8">
        <h3>PUC / +2 Details</h3>
      <form >
        <div class="row">
            <div class="col-sm-3 form-group">
                
                  <label for="feildName" >Institution Name  </label>
                  <input type="text" 
                  id= "feildName"
                  class="form-control"
                  colName="feildName">
              </div>
              <div class="col-sm-3 form-group">
                  <label for="percentageN">Percentage  </label>
                  <input type="percentage" 
                  id="percentageN"
                  class="form-control"
                  percentage2="percentageN">
                </div>
                <div class="col-sm-3 form-group">
                    <label for="fromYearN">From Year </label>
                    <input type="date"
                    id="fromYearN"
                    class="form-control" 
                    fromYear2="fromYearN">
                  </div>
                  <div class="col-sm-3 form-group">
                    <label for ="toYearN"> To Year </label>
                    <input type="date" 
                    id = "toYearN"
                    class="form-control"
                    toYear2="toYearN">
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
            <button class ="btn btn-primary" type="reset">reset</button>
        </div>
      </form>
    </div>
  </div>
  
