.row{
    margin-left: 10px;
}
#hash{
    display: flex;
    justify-content: space-between;
}


.bottom{
    position: absolute;
    /* margin-top: 10%; */
    bottom: 0;
    width: 80%;    
}

#page-container{
    position: relative;
    min-height: 76.5vh;
}

#content-wrap{
    padding-bottom: 2.5rem;
}

.image{
    height:100%; background-size:cover; width:auto;
    background-image:url('http://www.sclance.com/backgrounds/professional-website-background/professional-website-background_1821691.jpg');
    background-position:50% 50%;
  }