.row{
    margin-left: 10px;
}
#hash{
    display: flex;
    justify-content: space-between;
}


.bottom{
    position: absolute;
    /* margin-top: 10%; */
    bottom: 0;
    width: 80%;    
}

#page-container{
    position: relative;
    min-height: 77vh;
}

#content-wrap{
    padding-bottom: 2.5rem;
}