<app-header></app-header>
<h1>Skills</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-xs-6" id="group">
            <app-soft-skills></app-soft-skills>
        </div>
        <div class="col-xs-6" id="group">
            <app-tech-skills></app-tech-skills>
        </div>
    </div>
</div>
<div class="container">
        <div class="bottom">
        <div class="row">
            <div class="col-xs-12">
                <div id="hash">
                <button class="btn btn-success" (click)="onPrev()">Back</button>
                <button   class="btn btn-success" (click)="onNext()">Next</button>
            </div>
            </div>
        </div>
    </div>
    </div>



