<!-- <body
background='https://www.aesc.org/sites/default/files/field/image/whats_the_story-main.jpg' > -->
<div class="image">
<div class="container" >
    <div class="row">
      <div class="text-center">
        <h1 >Welcome Page</h1>
        <p>The Online Resume Builder You Deserve</p>
        <p>Creating a Professional Resume Has Never Been So Easy</p>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="text-center">
        <button class="btn btn-success" (click)="onBuild()">Build My Resume</button>
        <app-personal ></app-personal>
    </div>
  </div>
</div>
</div>
<!-- </body> -->


