
<<<<<<< HEAD
=======

>>>>>>> c8a408439804c81e9a66981769e53966ce387dcd
.image{
    height:46.86em; background-size:cover; width:auto;
    background-image:url('http://www.sclance.com/backgrounds/professional-website-background/professional-website-background_1821691.jpg');
    background-position:50% 50%;
  }

.row{
    padding-top: 12em
}
