<div class="row">
    <div class="col-xs-12" >
        <form [formGroup] = "expFeildsForm">  
            <div class="row1">
            <button
                type="button"
                class="btn btn-primary"
                (click)="onAddSExpFeilds()">Add Experience
            </button>
        </div>
        <br>
            <div class="row">
                <div class="col-xs-12" 
                formArrayName = "expFeilds"
                *ngFor = "let expFeildsControl of expFeildsForm.get('expFeilds').controls; let i = index"
                [formControlName] = "i">
                <br>
                <br>
  

<!-- <div id="page-container">
<div id="content-wrap">  -->
    <div class="container">
<div class="row">
    <div class="col-xs-12">
        <form >
         <div class="row">
            <div class="col-sm-3 form-group">
                 <label for="compName">Company Name</label>
                <input type="text" id="compName" class="form-control">
            </div>
            <div class="col-sm-3 form-group">
                <label for="position">Workplace Position</label>
               <input type="text" id="position" class="form-control">
           </div>
           <div class="col-sm-2">
                <label for="start">Start Year </label>
                <input type="date"
                id="start"
                class="form-control" 
                start="start"
                ngModule required>
            </div>
            <div class="col-sm-2 form-group">
                <label for ="end"> End Year </label>
                <input type="date" 
                id = "end"
                class="form-control"
                end="end"ngModule required>
            </div>
           <div class="col-sm-2 form-group">
                <label for="task">Achivement</label>
                <input type="text" id="task" class="form-control">
            </div>
            <div class="row " >
                <div class="col-xs-12">
                <button class="btn btn-primary" type="submit">Save</button>
                 &nbsp;
                <button class ="btn btn-primary" type="reset">reset</button>
                </div>
            </div>
        </div>   
        </form>
    </div>
</div>
</div>



